

body{
	background: #8B0000 ;
	margin: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 110%;
	color: #ffffff;
	font-family: arial;
}

h2{
	color: #ffffff;
	font-family: arial;
}

a{
	color: #ffffff;
	font-family: arial;
	text-decoration: none;
}

a:hover{
	color: #CCC;
	font-family: arial;
}

.login_section{
	margin:0 auto;
	max-width: 500px;
}


.login_header img{
	max-width: 200px;
	width:80%;
	height:80%;
}

.login_form{
	border:.5px solid #fff;
	  background:#000000;
	  border-radius:10px;
	  box-shadow:0px 0px 10px #000;
}

.login_form {
	  box-sizing:border-box;
	  padding-top:15px;
	  padding-bottom:10%;
	  margin:10% auto;
	  text-align:center;
}

.login_section input[type="text"],
.login_section input[type="password"] {
  max-width:400px;
  width: 70%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}

.login_form button {
  padding: 10px;
  margin: 10px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:10px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}

/*For the Modal Windows*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #CCC;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #CCC;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #CCC;
    color: white;
}
